@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

.underline-small {
    display: inline-block;
    position: relative;
}

.underline-small::after {
    content: '';
    height: 3px;
    width: 45%;
    background: #f24432;
    position: absolute;
    left: 0;
    bottom: -5px;
}